name: Build libheif
 
on:
  workflow_dispatch:
 
jobs:
  build:
    runs-on: windows-latest
 
    steps:
      - name: Checkout libheif
        uses: actions/checkout@v4
        with:
          repository: strukturag/libheif
          path: libheif
          ref: master
          
      - name: Build libheif with preset
        working-directory: libheif
        run: |
          mkdir build
          cd build
          cmake --preset=release .. 
          make
 
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: libheif-windows-release
          path: libheif/build/Release
