name: Build MNN Diffusion
on: 
  workflow_dispatch: 

jobs: 
  build: 
    runs-on: windows-latest 
    steps: 
      - name: Checkout MNN 
        uses: actions/checkout@v4 
        with: 
          repository: alibaba/MNN 
          path: MNN 
          ref: master 

      - name: Build MNN 
        working-directory: MNN 
        run: | 
          mkdir build && cd build 
          cmake .. -DMNN_BUILD_DIFFUSION=ON -DMNN_IMGCODECS=ON -DMNN_BUILD_LLM=ON -DMNN_BUILD_LLM_OMNI=ON -DMNN_CPU_WEIGHT_DEQUANT_GEMM=ON -DBUILD_MLS=ON -DMNN_SEP_BUILD=0
          cmake --build . --config Release -j
      - name: Upload artifacts 
        uses: actions/upload-artifact@v4 
        with: 
          name: mnn-build 
          path: MNN/build/Release
