name: Build MNN MNNConvert
on: 
  workflow_dispatch: 

jobs: 
  build: 
    runs-on: windows-latest 
    steps: 
      - name: Checkout MNN 
        uses: actions/checkout@v4 
        with: 
          repository: alibaba/MNN 
          path: MNN 
          ref: master 

      - name: Build MNN 
        working-directory: MNN 
        run: | 
          mkdir build && cd build
          cmake .. -DMNN_BUILD_SHARED_LIBS=OFF -DMNN_BUILD_CONVERTER=ON -DMNN_BUILD_SHARED_LIBS=OFF -DMNN_WIN_RUNTIME_MT=ON
          cmake --build . --config Release -j
          
      - name: Upload artifacts 
        uses: actions/upload-artifact@v4 
        with: 
          name: mnn-build 
          path: MNN/build/Release
